.full-background {
    background: rgb(2, 0, 36);
    background: linear-gradient(to bottom right, rgba(2, 0, 36, 1) 0%, rgba(41, 41, 218, 1) 50%, rgba(0, 212, 255, 1) 100%);
    /* background-image: url('images/gradient.jpg'); */
}

.introduction {
    background-color: silver;
    font-family: "Verdana";
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    margin: 20px auto;
    padding: 20px;
    min-width: 1170px;
    max-width: 100%;
    width: 70%;
}

.experience {
    background-color: silver;
    font-family: "Verdana";
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    margin: 20px auto;
    padding: 20px;
    min-width: 1170px;
    max-width: 100%;
    width: 70%;
}

.education {
    background-color: silver;
    font-family: "Verdana";
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    margin: 20px auto;
    padding: 20px;
    min-width: 1170px;
    max-width: 100%;
    width: 70%;
}

.collapsible {
    background-color: #eee;
    font-family: "Courier New";
    font-size: 16px;
    cursor: pointer;
    padding: 18px;
    width: 238px;
    border: none;
    text-align: left;
    outline: none;
}

.active .collapsible:hover {
    background-color: #ccc;
}

.grey-color {
    color: #b3b3b3;
}

.checkbox {
    display: inline-grid;
    grid-template-columns: auto auto;
    margin: 20 auto;
}

.compulsory {
    margin: 0 0 0 0;
}

.elective {
    margin: 0 0 0 0;
}

.education-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Courier New";
    text-align: left;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.projects {
    background-color: silver;
    font-family: "Verdana";
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    margin: 20px auto;
    padding: 20px;
    min-width: 1170px;
    max-width: 100%;
    width: 70%;
}